coverage==4.2
coveralls==1.1
docopt==0.6.2
future==0.15.2
geopy==1.11.0
gpsoauth==0.3.0
Pillow==2.5.3
protobuf==2.6.1
pushbullet.py==0.10.0
pycryptodomex==3.4.2
python-magic==0.4.12
pytz==2016.6.1
redis==2.10.5
requests==2.10.0
s2sphere==0.2.4
six==1.10.0
websocket-client==0.37.0
